* {
  padding: 0;
  margin: 0;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.button, .link-button {
  background: #ffffff;
  border-radius: 20px;
  border: none;
  color: #111;
  width: 150px;
  height: 40px;
  line-height: 32px;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover, .link-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.link-button {
  text-decoration: none;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  text-rendering: auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  line-height: 40px;
}

body {
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

body .header {
  width: 100%;
  height: 100vh;
  background: #7323baff url("../images/webbg.svg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body .header nav {
  height: 50px;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header nav .logo {
  width: 20%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 50px;
}

body .header nav .logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .header nav .menu-btn {
  width: 25px;
  cursor: pointer;
  display: none;
}

body .header nav .menu-btn div {
  width: 100%;
  height: 3px;
  background: #ffffff;
  margin: 3px;
}

@media only screen and (max-width: 975px) {
  body .header nav .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .header nav .menu {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header nav .menu li {
  padding: 1rem;
  margin-right: 1rem;
}

body .header nav .menu li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

body .header nav .menu li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 975px) {
  body .header nav .menu {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#e732ff), color-stop(29%, #c126c9), color-stop(53%, #a31aa3), to(#570063));
    background: linear-gradient(top, #e732ff 0%, #c126c9 29%, #a31aa3 53%, #570063 100%);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    -webkit-box-shadow: #7323baff 5px 5px 5px;
            box-shadow: #7323baff 5px 5px 5px;
  }
}

@media only screen and (max-width: 775px) {
  body .header nav .menu {
    width: 75%;
  }
}

body .header nav .menu-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (max-width: 975px) {
  body .header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .header .landing {
  padding: 3rem 0rem 3rem 5rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .landing .landing-text {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .header .landing .landing-text h1 {
  font-size: 36px;
  font-weight: 100;
}

body .header .landing .landing-text p {
  font-size: 17px;
  margin-top: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
}

body .header .landing .landing-text .landing-button {
  display: none;
  margin-top: 2rem;
}

body .header .landing .landing-text .landing-button .link-button {
  width: 180px;
  height: 35px;
  line-height: 35px;
}

@media only screen and (max-width: 975px) {
  body .header .landing .landing-text .landing-button {
    display: block;
  }
}

@media only screen and (max-width: 975px) {
  body .header .landing .landing-text {
    width: 80%;
  }
}

@media only screen and (max-width: 775px) {
  body .header .landing .landing-text {
    width: 100%;
  }
}

body .header .landing .landing-image {
  width: 50%;
  height: 100%;
  background-image: url("../images/undraw_source_code_xx2e.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media only screen and (max-width: 975px) {
  body .header .landing .landing-image {
    display: none;
  }
}

@media only screen and (max-width: 775px) {
  body .header .landing {
    padding: 3rem 5rem;
  }
}

@media only screen and (max-width: 575px) {
  body .header .landing {
    padding: 1rem;
  }
}

body .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

body .about .about-image {
  width: 50%;
}

body .about .about-image img {
  width: 100%;
}

@media only screen and (max-width: 775px) {
  body .about .about-image {
    width: 100%;
  }
}

body .about .about-text {
  width: 50%;
  color: #111;
  font-size: 15px;
  padding: 2rem;
  line-height: 1.5em;
}

@media only screen and (max-width: 775px) {
  body .about .about-text {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 775px) {
  body .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 575px) {
  body .about {
    padding: 1rem;
    margin-top: 2rem;
  }
}

body .match, body .keyword {
  padding: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e732ff), color-stop(29%, #c126c9), color-stop(53%, #a31aa3), to(#570063));
  background: linear-gradient(top, #e732ff 0%, #c126c9 29%, #a31aa3 53%, #570063 100%);
}

body .match div, body .keyword div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .match div textarea, body .keyword div textarea {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 15px;
}

body .match div .button, body .keyword div .button {
  width: 180px;
}

@media only screen and (max-width: 775px) {
  body .match, body .keyword {
    padding: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  body .match, body .keyword {
    padding: 1rem;
    margin-top: 2rem;
  }
}

body .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5rem;
  -ms-overflow-style: none;
}

body .create::-webkit-scrollbar {
  display: none;
}

body .create a {
  text-decoration: none;
  margin-right: 2rem;
}

body .create a img {
  border: solid #aaa 1px;
  width: 7cm;
  height: 9.9cm;
  -webkit-box-shadow: #aaa 7px 7px 5px;
          box-shadow: #aaa 7px 7px 5px;
}

body .create a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 775px) {
  body .create {
    padding: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  body .create {
    padding: 1.5rem;
    margin-top: 2rem;
  }
}

body footer {
  padding: 1rem 5rem;
  background: #ffffff;
  color: #111;
}

body footer p {
  text-align: center;
  font-size: 12px;
}

@-webkit-keyframes menulinks {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes menulinks {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
/*# sourceMappingURL=style.css.map */